<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1, user-scalable=0">

	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" media="print" onload="this.media='all'">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
	<style>
		.inter { font-family: "Inter", sans-serif; }
	</style>

	<script>
		document.addEventListener('DOMContentLoaded', () => {})
	</script>
</head>
<body class="pa3 inter">
	<%= yield %>

	<style>
		#__lcp { position: fixed; bottom: 20px; right: 15px; padding: 3px 6px; font-size: 11px; color: #888; background-color: #f4f4f4; }
    </style>
    <div id="__lcp"></div>
    <script defer src='/js/lcp.js'></script>
</body>
</html>
